# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node dependencies
node_modules/

# Yarn & pnpm
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnpm-debug.log*

# Next.js build & cache
.next/
out/
build/
*.tsbuildinfo
next-env.d.ts

# Firebase & Firestore
.firebase
firebase-debug.log
functions/node_modules/
functions/lib/
functions/dist/
functions/.env*

# Coverage & testing
coverage/
npm-debug.log*
yarn-debug.log*


# Public uploads
public/uploads/

# Environment files
.env*

# Vercel
.vercel

# VS Code
.vscode/

# OS & misc
.DS_Store
Thumbs.db
*.pem
# vercel
